@font-face {
  font-family: 'aaarghnormal';
  src: url("../fonts/Aaargh-webfont.eot");
  src: url("../fonts/Aaargh-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aaargh-webfont.woff") format("woff"), url("../fonts/Aaargh-webfont.ttf") format("truetype"), url("../fonts/Aaargh-webfont.svg#aaarghnormal") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'aaarghnormal'; }

p {
  line-height: 1.9em; }

@media (min-width: 20em) {
  .container {
    font-size: 0.75em; } }
@media (min-width: 37.5em) {
  .container {
    font-size: 0.85em; } }
@media (min-width: 50em) {
  .container {
    font-size: 0.95em; } }
@media (min-width: 64.375em) {
  .container {
    font-size: 1em; } }

@media (min-width: 20em) {
  .container {
    padding-left: 5%;
    width: 80%; } }
@media (min-width: 37.5em) {
  .container {
    padding-left: 12.5%;
    width: 75%; } }
@media (min-width: 50em) {
  .container {
    padding-left: 25%;
    width: 50%; } }
@media (min-width: 64.375em) {
  .container {
    padding-left: 33.33333%;
    width: 33.33333%; } }

/* section backgrounds */
.section {
  text-align: center; }

#who {
  background-color: #e34336;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9790), to(#e34336));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ef9790, #e34336);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #ef9790, #e34336);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #ef9790, #e34336);
  /* IE10 */
  background-image: -o-linear-gradient(top, #ef9790, #e34336);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #ef9790, #e34336);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ef9790', EndColorStr='#e34336'); }

#studied {
  background-color: #3a5d79;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6491b5), to(#3a5d79));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #6491b5, #3a5d79);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #6491b5, #3a5d79);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #6491b5, #3a5d79);
  /* IE10 */
  background-image: -o-linear-gradient(top, #6491b5, #3a5d79);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #6491b5, #3a5d79);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6491b5', EndColorStr='#3a5d79'); }

#worked {
  background-color: #f0a341;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8d19f), to(#f0a341));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f8d19f, #f0a341);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f8d19f, #f0a341);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f8d19f, #f0a341);
  /* IE10 */
  background-image: -o-linear-gradient(top, #f8d19f, #f0a341);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f8d19f, #f0a341);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f8d19f', EndColorStr='#f0a341'); }

#working {
  background-color: #56a9f1;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b4d9f9), to(#56a9f1));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #b4d9f9, #56a9f1);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #b4d9f9, #56a9f1);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #b4d9f9, #56a9f1);
  /* IE10 */
  background-image: -o-linear-gradient(top, #b4d9f9, #56a9f1);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #b4d9f9, #56a9f1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b4d9f9', EndColorStr='#56a9f1'); }

#will-do {
  background-color: #5bbb84;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3d9ba), to(#5bbb84));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #a3d9ba, #5bbb84);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #a3d9ba, #5bbb84);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #a3d9ba, #5bbb84);
  /* IE10 */
  background-image: -o-linear-gradient(top, #a3d9ba, #5bbb84);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #a3d9ba, #5bbb84);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a3d9ba', EndColorStr='#5bbb84'); }

/* custom menu */
#fullPage-nav li span {
  background: white;
  border: white; }
#fullPage-nav li .active span {
  background: white;
  border: 1px solid black; }
