$white: #FFFFFF;
$black: #000000;

$green: #82CA9D;
$green-cyan: #7BCDC8;
$cyan: #6ECFF6;
$cyan-blue: #7EA7D8;
$blue: #8493CA;
$blue-violet: #8882BE;
$violet: #A187BE;
$violet-magenta: #BC8DBF;
$magenta: #F49AC2;
$magenta-red: #F6989D;
$red: #F7977A;
$red-orange: #F9AD81;