@import 'mixins';
@import 'colours';
@import 'typography';
@import 'layout';

/* section backgrounds */
.section {
	text-align:center;
}

#who {
	@include linear-gradient($magenta, $violet);
}

#studied {
	@include linear-gradient($green-cyan, $cyan);
}

#worked {
	@include linear-gradient($cyan, $cyan-blue);
}

#working {
	@include linear-gradient($cyan-blue, $blue);	
}

#will-do {
	@include linear-gradient($blue, $blue-violet);
}

/* custom menu */
#fullPage-nav {
	li {
		span {
			background: $white;
			border: $white;
		}
		.active {
			span {
				background: $white;
				border: 1px solid $black;
			}
		}
	}
}
