@import 'mixins';
@import 'colours';
@import 'typography';
@import 'layout';

/* section backgrounds */
.section {
	text-align:center;
}

$green: #82CA9D;
$green-cyan: #7BCDC8;
$cyan: #6ECFF6;
$cyan-blue: #7EA7D8;
$blue: #8493CA;
$blue-violet: #8882BE;
$violet: #A187BE;
$violet-magenta: #BC8DBF;
$magenta: #F49AC2;

#who {
	@include linear-gradient($green, $green-cyan);
}

#studied {
	@include linear-gradient($green-cyan, $cyan);
}

#worked {
	@include linear-gradient($cyan, $cyan-blue);
}

#working {
	@include linear-gradient($cyan-blue, $blue);	
}

#will-do {
	@include linear-gradient($blue, $blue-violet);
}

/* custom menu overrides */
#fullPage-nav {
	li {
		padding: 1em;
		
		.active {
			span {
				background: none;
			}
		}

		a {
			text-decoration: none;
			color: $black;
		}
	}
	span {
		border: none;
	}
}
